* {
    padding: 0;
    margin: 0;
    box-sizing: 100vh;
}


h1 {
    color: red;
}

header {
    background-color: aquamarine;
    height: 200px;
}


main {
    background-color: bisque;
    height: 800px;
}

footer {
    background-color: coral;
    height: 400px;
}