* {
    padding: 0;
    margin: 0;
    box-sizing: 100vh;
}


#logo {
    color: #2BDB8C;
    color: ;
    text-transform: uppercase;
}

/* Header */
header {
    background-color: #4F5957;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #39403E;
}


main {
    background-color: #E7EDEB;
    height: 800px;
}

footer {
    background-color: #39403E;
    height: 400px;
}