* {
    padding: 0;
    margin: 0;
    box-sizing: 100vh;
}


#logo {
    color: #2BDB8C;
    color: ;
    text-transform: uppercase;
    padding: 10px;
}

/* Header */
header {
    background-color: #4F5957;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #39403E;
}

header a {
    text-decoration: none;
    color: #E7EDEB;

}

.active {
    border-bottom: 1px solid #E7EDEB;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

main {
    background-color: #E7EDEB;
    height: 800px;
}

footer {
    background-color: #39403E;
    height: 400px;
}